* {
  clear: both;
}
body {
  /* background-color: rgb(51, 65, 61) !important; */
  /* background-color: rgb(40 90 58) !important; */
  background-image: linear-gradient(to bottom right, rgb(40 90 58), rgb(51, 65, 61));
}
.container {
  height: 100vh;
}
.login-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login-background {
  background-color: white;
  min-height: 20em;
  min-width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px;
  border-radius: 8px;
}
.login-fields label {
  display: block;
  font-weight: bold;
  color: #666;
  font-size: 20px;
  margin-bottom: 5px;
}
.login-fields input{
  border-radius: 8px;
  padding: 10px;
  border-color: lightgreen;
  border: 1px solid lightgreen;
  width: 100%;
  margin-bottom: 20px;
}
.login-background form{
  width: 100%;
}
.login-button-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.login-button-container button{
  width: 100%;
}
.login-fields input:focus{
  outline: 2px solid lightblue;
}
.input-error{
  color: red;
}
.login-progress-container{
  padding: 0px 15px;
  margin-top: 15px;
  width: 100%;
}
.navigation-list-container{
  display: flex;
  gap: 15px;
}
.navigation-list-container li{
  list-style: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.top-header{
  padding-top: 20px;
}
.content-wrapper{
  min-height: 80vh;
}
.navigation-list-container li a{
  cursor: pointer;
}
.navigation-list-container li a:hover{
  cursor: pointer;
  color: yellowgreen !important;
}
.navigation-list-container li a:active{
  cursor: pointer;
  color: yellow !important;
}
label{
  display: block !important;
}
